*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    background: linear-gradient(45deg, blue , purple);
    color: rgb(255, 255, 255);
    height: 100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 350px;
    height: 500px;
    perspective: 900px;
}
.card{
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(-18deg) ;
}
.front,.back{
    height:100%;
    width: 100%;
    position: absolute;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    

}
.front{
    background-image:url(https://wallpapercave.com/wp/wp11219600.jpg); background-size: cover; background-repeat:no-repeat;
}
.container:hover > .front{
    transform: rotateZ(-18deg);
}
.back{
    background-image:url(https://static.zerochan.net/Vegeta.full.4182755.jpg); background-size: cover; background-repeat:no-repeat; background-position: -110px 0px;
    transform: rotateY(180deg) ;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: white;
    -webkit-text-stroke: 1px black; /* 2px black border around text */
}